In [ ]:
from google.colab import files

In [ ]:
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"brunosette","key":"92739e7643e0e09262cd6511b4b0c752"}'}

In [ ]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!pip install -q kaggle

In [ ]:
!kaggle datasets list -s credit

ref                                              title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
-----------------------------------------------  ------------------------------------------------  ------  -------------------  -------------  ---------  ---------------
sakshigoyal7/credit-card-customers               Credit Card customers                              379KB  2020-11-19 07:38:44          60932       1575  1.0
mlg-ulb/creditcardfraud                          Credit Card Fraud Detection                         66MB  2018-03-23 01:17:27         418210       9191  0.85294116
rikdifos/credit-card-approval-prediction         Credit Card Approval Prediction                      5MB  2020-03-24 10:04:48          30467        501  1.0
uciml/german-credit                              German Credit Risk                                  11KB  2016-12-14 21:25:02          33285        322  0.8235294
upadorprofzs/credit-risk                         Credit risk                                         58KB  2020-06-28 00:32:27           1739         93  0.5882353
mishra5001/credit-card                           Credit Card Fraud Detection                        112MB  2019-07-15 06:36:02           8179        119  0.88235295
uciml/default-of-credit-card-clients-dataset     Default of Credit Card Clients Dataset            1001KB  2016-11-03 03:39:18          50215        781  0.7058824
dhanushnarayananr/credit-card-fraud              Credit Card Fraud                                   29MB  2022-05-07 15:09:29           1339         43  0.9411765
praveengovi/credit-risk-classification-dataset   Credit Risk Classification Dataset                 148KB  2020-05-05 14:34:44           4541         47  1.0
laotse/credit-risk-dataset                       Credit Risk Dataset                                368KB  2020-06-02 06:10:39           5651         55  0.7058824
arjunbhasin2013/ccdata                           Credit Card Dataset for Clustering                 340KB  2018-03-02 08:35:03          33137        387  0.5882353
mpwolke/cusersmarildownloadsgermancsv            Creditability - German Credit Data                  13KB  2021-03-12 19:01:40            459         30  1.0
kartik2112/fraud-detection                       Credit Card Transactions Fraud Detection Dataset   202MB  2020-08-05 15:20:55          11929        149  0.85294116
ealtman2019/credit-card-transactions             Credit Card Transactions                           263MB  2021-10-14 17:42:24           2148         42  0.85294116
samuelcortinhas/credit-card-approval-clean-data  Credit Card Approvals (Clean Data)                  19KB  2022-04-25 15:52:35           2131         48  1.0
aryashah2k/credit-card-customer-data             Credit Card Customer Data                            6KB  2021-05-15 08:59:46           2218         33  1.0
ranadeep/credit-risk-dataset                     Credit Risk Analysis                               101MB  2021-06-12 14:52:07           1335         33  0.9705882
shayannaveed/credit-card-fraud-detection         Credit Card Fraud Detection                         66MB  2019-12-24 08:07:24           1169         20  0.88235295
rupakroy/credit-data                             Credit_data                                         41KB  2022-01-27 04:09:24            903         26  1.0
saurabhbagchi/credit-card-fraud-detection        Credit Card Fraud Detection                         28MB  2021-07-18 14:27:20            840         30  0.9375

In [ ]:
!kaggle datasets download -d mishra5001/credit-card

Downloading ipeadata.zip to /content
  0% 0.00/3.51k [00:00<?, ?B/s]
100% 3.51k/3.51k [00:00<00:00, 3.18MB/s]

In [ ]:
!mkdir -p data/credit-card
!unzip credit-card.zip -d data/credit-card

unzip:  cannot find or open credit-card.zip, credit-card.zip.zip or credit-card.zip.ZIP.

In [ ]:
df_application_data = pd.read_csv("data/credit-card/application_data.csv")

In [ ]:
df_application_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [ ]:
check_null(df_application_data)

Column SK_ID_CURR total nulos: 0 que corresponde a: 0.0%
Column TARGET total nulos: 0 que corresponde a: 0.0%
Column NAME_CONTRACT_TYPE total nulos: 0 que corresponde a: 0.0%
Column CODE_GENDER total nulos: 0 que corresponde a: 0.0%
Column FLAG_OWN_CAR total nulos: 0 que corresponde a: 0.0%
Column FLAG_OWN_REALTY total nulos: 0 que corresponde a: 0.0%
Column CNT_CHILDREN total nulos: 0 que corresponde a: 0.0%
Column AMT_INCOME_TOTAL total nulos: 0 que corresponde a: 0.0%
Column AMT_CREDIT total nulos: 0 que corresponde a: 0.0%
Column AMT_ANNUITY total nulos: 12 que corresponde a: 0.0%
Column AMT_GOODS_PRICE total nulos: 278 que corresponde a: 0.09%
Column NAME_TYPE_SUITE total nulos: 1292 que corresponde a: 0.42%
Column NAME_INCOME_TYPE total nulos: 0 que corresponde a: 0.0%
Column NAME_EDUCATION_TYPE total nulos: 0 que corresponde a: 0.0%
Column NAME_FAMILY_STATUS total nulos: 0 que corresponde a: 0.0%
Column NAME_HOUSING_TYPE total nulos: 0 que corresponde a: 0.0%
Column REGION_POPULATION_RELATIVE total nulos: 0 que corresponde a: 0.0%
Column DAYS_BIRTH total nulos: 0 que corresponde a: 0.0%
Column DAYS_EMPLOYED total nulos: 0 que corresponde a: 0.0%
Column DAYS_REGISTRATION total nulos: 0 que corresponde a: 0.0%
Column DAYS_ID_PUBLISH total nulos: 0 que corresponde a: 0.0%
Column OWN_CAR_AGE total nulos: 202929 que corresponde a: 65.99%
Column FLAG_MOBIL total nulos: 0 que corresponde a: 0.0%
Column FLAG_EMP_PHONE total nulos: 0 que corresponde a: 0.0%
Column FLAG_WORK_PHONE total nulos: 0 que corresponde a: 0.0%
Column FLAG_CONT_MOBILE total nulos: 0 que corresponde a: 0.0%
Column FLAG_PHONE total nulos: 0 que corresponde a: 0.0%
Column FLAG_EMAIL total nulos: 0 que corresponde a: 0.0%
Column OCCUPATION_TYPE total nulos: 96391 que corresponde a: 31.35%
Column CNT_FAM_MEMBERS total nulos: 2 que corresponde a: 0.0%
Column REGION_RATING_CLIENT total nulos: 0 que corresponde a: 0.0%
Column REGION_RATING_CLIENT_W_CITY total nulos: 0 que corresponde a: 0.0%
Column WEEKDAY_APPR_PROCESS_START total nulos: 0 que corresponde a: 0.0%
Column HOUR_APPR_PROCESS_START total nulos: 0 que corresponde a: 0.0%
Column REG_REGION_NOT_LIVE_REGION total nulos: 0 que corresponde a: 0.0%
Column REG_REGION_NOT_WORK_REGION total nulos: 0 que corresponde a: 0.0%
Column LIVE_REGION_NOT_WORK_REGION total nulos: 0 que corresponde a: 0.0%
Column REG_CITY_NOT_LIVE_CITY total nulos: 0 que corresponde a: 0.0%
Column REG_CITY_NOT_WORK_CITY total nulos: 0 que corresponde a: 0.0%
Column LIVE_CITY_NOT_WORK_CITY total nulos: 0 que corresponde a: 0.0%
Column ORGANIZATION_TYPE total nulos: 0 que corresponde a: 0.0%
Column EXT_SOURCE_1 total nulos: 173378 que corresponde a: 56.38%
Column EXT_SOURCE_2 total nulos: 660 que corresponde a: 0.21%
Column EXT_SOURCE_3 total nulos: 60965 que corresponde a: 19.83%
Column APARTMENTS_AVG total nulos: 156061 que corresponde a: 50.75%
Column BASEMENTAREA_AVG total nulos: 179943 que corresponde a: 58.52%
Column YEARS_BEGINEXPLUATATION_AVG total nulos: 150007 que corresponde a: 48.78%
Column YEARS_BUILD_AVG total nulos: 204488 que corresponde a: 66.5%
Column COMMONAREA_AVG total nulos: 214865 que corresponde a: 69.87%
Column ELEVATORS_AVG total nulos: 163891 que corresponde a: 53.3%
Column ENTRANCES_AVG total nulos: 154828 que corresponde a: 50.35%
Column FLOORSMAX_AVG total nulos: 153020 que corresponde a: 49.76%
Column FLOORSMIN_AVG total nulos: 208642 que corresponde a: 67.85%
Column LANDAREA_AVG total nulos: 182590 que corresponde a: 59.38%
Column LIVINGAPARTMENTS_AVG total nulos: 210199 que corresponde a: 68.35%
Column LIVINGAREA_AVG total nulos: 154350 que corresponde a: 50.19%
Column NONLIVINGAPARTMENTS_AVG total nulos: 213514 que corresponde a: 69.43%
Column NONLIVINGAREA_AVG total nulos: 169682 que corresponde a: 55.18%
Column APARTMENTS_MODE total nulos: 156061 que corresponde a: 50.75%
Column BASEMENTAREA_MODE total nulos: 179943 que corresponde a: 58.52%
Column YEARS_BEGINEXPLUATATION_MODE total nulos: 150007 que corresponde a: 48.78%
Column YEARS_BUILD_MODE total nulos: 204488 que corresponde a: 66.5%
Column COMMONAREA_MODE total nulos: 214865 que corresponde a: 69.87%
Column ELEVATORS_MODE total nulos: 163891 que corresponde a: 53.3%
Column ENTRANCES_MODE total nulos: 154828 que corresponde a: 50.35%
Column FLOORSMAX_MODE total nulos: 153020 que corresponde a: 49.76%
Column FLOORSMIN_MODE total nulos: 208642 que corresponde a: 67.85%
Column LANDAREA_MODE total nulos: 182590 que corresponde a: 59.38%
Column LIVINGAPARTMENTS_MODE total nulos: 210199 que corresponde a: 68.35%
Column LIVINGAREA_MODE total nulos: 154350 que corresponde a: 50.19%
Column NONLIVINGAPARTMENTS_MODE total nulos: 213514 que corresponde a: 69.43%
Column NONLIVINGAREA_MODE total nulos: 169682 que corresponde a: 55.18%
Column APARTMENTS_MEDI total nulos: 156061 que corresponde a: 50.75%
Column BASEMENTAREA_MEDI total nulos: 179943 que corresponde a: 58.52%
Column YEARS_BEGINEXPLUATATION_MEDI total nulos: 150007 que corresponde a: 48.78%
Column YEARS_BUILD_MEDI total nulos: 204488 que corresponde a: 66.5%
Column COMMONAREA_MEDI total nulos: 214865 que corresponde a: 69.87%
Column ELEVATORS_MEDI total nulos: 163891 que corresponde a: 53.3%
Column ENTRANCES_MEDI total nulos: 154828 que corresponde a: 50.35%
Column FLOORSMAX_MEDI total nulos: 153020 que corresponde a: 49.76%
Column FLOORSMIN_MEDI total nulos: 208642 que corresponde a: 67.85%
Column LANDAREA_MEDI total nulos: 182590 que corresponde a: 59.38%
Column LIVINGAPARTMENTS_MEDI total nulos: 210199 que corresponde a: 68.35%
Column LIVINGAREA_MEDI total nulos: 154350 que corresponde a: 50.19%
Column NONLIVINGAPARTMENTS_MEDI total nulos: 213514 que corresponde a: 69.43%
Column NONLIVINGAREA_MEDI total nulos: 169682 que corresponde a: 55.18%
Column FONDKAPREMONT_MODE total nulos: 210295 que corresponde a: 68.39%
Column HOUSETYPE_MODE total nulos: 154297 que corresponde a: 50.18%
Column TOTALAREA_MODE total nulos: 148431 que corresponde a: 48.27%
Column WALLSMATERIAL_MODE total nulos: 156341 que corresponde a: 50.84%
Column EMERGENCYSTATE_MODE total nulos: 145755 que corresponde a: 47.4%
Column OBS_30_CNT_SOCIAL_CIRCLE total nulos: 1021 que corresponde a: 0.33%
Column DEF_30_CNT_SOCIAL_CIRCLE total nulos: 1021 que corresponde a: 0.33%
Column OBS_60_CNT_SOCIAL_CIRCLE total nulos: 1021 que corresponde a: 0.33%
Column DEF_60_CNT_SOCIAL_CIRCLE total nulos: 1021 que corresponde a: 0.33%
Column DAYS_LAST_PHONE_CHANGE total nulos: 1 que corresponde a: 0.0%
Column FLAG_DOCUMENT_2 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_3 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_4 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_5 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_6 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_7 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_8 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_9 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_10 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_11 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_12 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_13 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_14 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_15 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_16 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_17 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_18 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_19 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_20 total nulos: 0 que corresponde a: 0.0%
Column FLAG_DOCUMENT_21 total nulos: 0 que corresponde a: 0.0%
Column AMT_REQ_CREDIT_BUREAU_HOUR total nulos: 41519 que corresponde a: 13.5%
Column AMT_REQ_CREDIT_BUREAU_DAY total nulos: 41519 que corresponde a: 13.5%
Column AMT_REQ_CREDIT_BUREAU_WEEK total nulos: 41519 que corresponde a: 13.5%
Column AMT_REQ_CREDIT_BUREAU_MON total nulos: 41519 que corresponde a: 13.5%
Column AMT_REQ_CREDIT_BUREAU_QRT total nulos: 41519 que corresponde a: 13.5%
Column AMT_REQ_CREDIT_BUREAU_YEAR total nulos: 41519 que corresponde a: 13.5%

In [ ]:
df_application_data.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [ ]:
num_cols = df_application_data._get_numeric_data().columns.to_list()
columns = df_application_data.columns.to_list()
categorical_cols = set(columns).difference(set(num_cols))

In [ ]:
num_cols

Index(['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=106)

In [ ]:
categorical_cols

{'CODE_GENDER',
 'EMERGENCYSTATE_MODE',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'NAME_CONTRACT_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'NAME_INCOME_TYPE',
 'NAME_TYPE_SUITE',
 'OCCUPATION_TYPE',
 'ORGANIZATION_TYPE',
 'WALLSMATERIAL_MODE',
 'WEEKDAY_APPR_PROCESS_START'}

In [ ]:
df_application_data['OCCUPATION_TYPE'].unique()

array(['Laborers', 'Core staff', 'Accountants', 'Managers', nan,
       'Drivers', 'Sales staff', 'Cleaning staff', 'Cooking staff',
       'Private service staff', 'Medicine staff', 'Security staff',
       'High skill tech staff', 'Waiters/barmen staff',
       'Low-skill Laborers', 'Realty agents', 'Secretaries', 'IT staff',
       'HR staff'], dtype=object)

In [ ]:
def show_labels(df):
  for col in categorical_cols:
    print(f"Coluna {col} possui os seguintes valores: {df[col].unique()}, no total: {df[col].nunique()} valores\n\n")

In [ ]:
show_labels(df_application_data)

Coluna WALLSMATERIAL_MODE possui os seguintes valores: ['Stone, brick' 'Block' nan 'Panel' 'Mixed' 'Wooden' 'Others' 'Monolithic'], no total: 7 valores


Coluna FONDKAPREMONT_MODE possui os seguintes valores: ['reg oper account' nan 'org spec account' 'reg oper spec account'
 'not specified'], no total: 4 valores


Coluna FLAG_OWN_CAR possui os seguintes valores: ['N' 'Y'], no total: 2 valores


Coluna NAME_TYPE_SUITE possui os seguintes valores: ['Unaccompanied' 'Family' 'Spouse, partner' 'Children' 'Other_A' nan
 'Other_B' 'Group of people'], no total: 7 valores


Coluna WEEKDAY_APPR_PROCESS_START possui os seguintes valores: ['WEDNESDAY' 'MONDAY' 'THURSDAY' 'SUNDAY' 'SATURDAY' 'FRIDAY' 'TUESDAY'], no total: 7 valores


Coluna NAME_INCOME_TYPE possui os seguintes valores: ['Working' 'State servant' 'Commercial associate' 'Pensioner' 'Unemployed'
 'Student' 'Businessman' 'Maternity leave'], no total: 8 valores


Coluna EMERGENCYSTATE_MODE possui os seguintes valores: ['No' nan 'Yes'], no total: 2 valores


Coluna NAME_HOUSING_TYPE possui os seguintes valores: ['House / apartment' 'Rented apartment' 'With parents'
 'Municipal apartment' 'Office apartment' 'Co-op apartment'], no total: 6 valores


Coluna NAME_EDUCATION_TYPE possui os seguintes valores: ['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree'], no total: 5 valores


Coluna NAME_CONTRACT_TYPE possui os seguintes valores: ['Cash loans' 'Revolving loans'], no total: 2 valores


Coluna ORGANIZATION_TYPE possui os seguintes valores: ['Business Entity Type 3' 'School' 'Government' 'Religion' 'Other' 'XNA'
 'Electricity' 'Medicine' 'Business Entity Type 2' 'Self-employed'
 'Transport: type 2' 'Construction' 'Housing' 'Kindergarten'
 'Trade: type 7' 'Industry: type 11' 'Military' 'Services'
 'Security Ministries' 'Transport: type 4' 'Industry: type 1' 'Emergency'
 'Security' 'Trade: type 2' 'University' 'Transport: type 3' 'Police'
 'Business Entity Type 1' 'Postal' 'Industry: type 4' 'Agriculture'
 'Restaurant' 'Culture' 'Hotel' 'Industry: type 7' 'Trade: type 3'
 'Industry: type 3' 'Bank' 'Industry: type 9' 'Insurance' 'Trade: type 6'
 'Industry: type 2' 'Transport: type 1' 'Industry: type 12' 'Mobile'
 'Trade: type 1' 'Industry: type 5' 'Industry: type 10' 'Legal Services'
 'Advertising' 'Trade: type 5' 'Cleaning' 'Industry: type 13'
 'Trade: type 4' 'Telecom' 'Industry: type 8' 'Realtor' 'Industry: type 6'], no total: 58 valores


Coluna CODE_GENDER possui os seguintes valores: ['M' 'F' 'XNA'], no total: 3 valores


Coluna HOUSETYPE_MODE possui os seguintes valores: ['block of flats' nan 'terraced house' 'specific housing'], no total: 3 valores


Coluna NAME_FAMILY_STATUS possui os seguintes valores: ['Single / not married' 'Married' 'Civil marriage' 'Widow' 'Separated'
 'Unknown'], no total: 6 valores


Coluna FLAG_OWN_REALTY possui os seguintes valores: ['Y' 'N'], no total: 2 valores


Coluna OCCUPATION_TYPE possui os seguintes valores: ['Laborers' 'Core staff' 'Accountants' 'Managers' nan 'Drivers'
 'Sales staff' 'Cleaning staff' 'Cooking staff' 'Private service staff'
 'Medicine staff' 'Security staff' 'High skill tech staff'
 'Waiters/barmen staff' 'Low-skill Laborers' 'Realty agents' 'Secretaries'
 'IT staff' 'HR staff'], no total: 18 valores